.gridThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 20px;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}

.navLink,
.logo {
  padding: 0.5em 1em;
  display: inline-block;
}
.navLink:hover,
.logo:hover {
  background-color: #b8b8b8;
}

/* UI */

.container {
  /* apridboti tik maximalu ploti */
  max-width: 1000px;
  /* skaiciuoti parastes automatiskai vienodai is kaires ir is desines */
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.flex {
  display: flex;
}
.spaceBetween {
  justify-content: space-between;
  align-items: center;
}
